<a href="https://colab.research.google.com/github/Mahesharvinds/NLP-Assignments/blob/main/1_String_Processing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1
# Basic String Processing

**Note:** *Before Attempting this assignment please go through the Hands On Code, that has been uploaded in LMS*

## Task 1:

**Print a string  that displays *'NLP stands for Natural Language Processing'* using the variables provided.**

Make use of string formatting or f-strings

In [ ]:
abbr = 'NLP'
full_text = 'Natural Language Processing'

In [ ]:
#Enter your code here:
print("{0} stands for {1}".format(abbr,full_text) ); #String-Formatting
print(f"{abbr} stands for {full_text}" ); #f-string

NLP stands for Natural Language Processing
NLP stands for Natural Language Processing

## Task 2:

**Create a function which takes `N` as an argument and return a list repeating the word <i>'NLP'</i> for `N` number of times as a string**

*Suppose you create a function `repeat`*
> Function Call: `repeat('NLP', 3)`<br>
>  O/P: `'NLPNLPNLP'`

In [ ]:
#Enter your code here:
def repeat( str ):
  return str * 3;
print(repeat('NLP'));

NLPNLPNLP

## Task 3:
**From the string variable provided extract Day, Month, year using indexing and print it.**

In [ ]:
string= "04-August-2019"
#string= "04-September-2019"
#Enter your code here:
day = string[0:2];
month = string[3:-5]; #Works for All Months
year = string[-4:];
print("Day " + day);
print("Month " + month);
print("Year " + year);

Day 04
Month August
Year 2019

## Task 4:

**Extract Supervisedlearning from the following string.**

In [ ]:
string = "SSuuppeerrvviisseeddlleeaarrnniinng"
#Enter your code here:
string[::2]

'Supervisedlearning'

## Task 5:

**Navigate to this drive [link](https://drive.google.com/file/d/1NCn-yQq6s85KWAgWPnd1JTltGxZf475j/view?usp=sharing) and download owlcreek.txt file and read it into a python string. Then print the length of the string.**

In [2]:
#Enter your code here:
owlcreek_file = open('owlcreek.txt')
owlcreek_string = owlcreek_file.read()
print(len(owlcreek_string))
owlcreek_file.close()

21344

## Task 6:

**In the text after every full stop (.) there are two trailling spaces, reduce it to single trailling space and save the changed string to a new file "new_owlcreek.txt"**

In [3]:
#Enter your code here:
new_owlcreek_string = owlcreek_string.replace(".  ",". ")
print(len(new_owlcreek_string))
new_owlcreek_file = open('new_owlcreek.txt','w+')
new_owlcreek_file.write(new_owlcreek_string)
new_owlcreek_file.close()

21211

## Task 7:

**The text is divided into three parts (I, II, III). In the text you can see a 'I' character before starting of first part and similarly 'II' and 'III' for 2nd and 3rd part.**

**Create three strings dividing these three parts as (part_1, part_2, part_3) and print their character length in the format shown below.**

In [4]:
#Enter your code here:
part_one_start_index = new_owlcreek_string.index("I\n");
part_two_start_index = new_owlcreek_string.index("II\n");
part_three_start_index = new_owlcreek_string.index("III\n");

part_1 = new_owlcreek_string[part_one_start_index:part_two_start_index];
part_2 = new_owlcreek_string[part_two_start_index:part_three_start_index];
part_3 = new_owlcreek_string[part_three_start_index:];

print("Length of PART I    : " + str(len(part_1)))
print("Length of PART II   : " + str(len(part_2)))
print("Length of PART III  : " + str(len(part_3)))

Length of PART I    : 6015
Length of PART II   : 2748
Length of PART III  : 12394

## Task 8:

**Extract all the sentences within quotes(") in the part_2 that you created in the last task and save it to a variable quotes_part_2**

**Eg. "They will not do that again,"**

Hint: Make use of Regular Expressions

In [5]:
#Enter your code here:
import re
regex = r'"[^"]*"';
sentences = re.findall(regex,part_2)
for i in sentences :
  print(i)
  print("----------------------------------")

"The Yanks are repairing the railroads,"
----------------------------------
"and are
getting ready for another advance. They have reached the Owl Creek
bridge, put it in order and built a stockade on the north bank. The
commandant has issued an order, which is posted everywhere, declaring
that any civilian caught interfering with the railroad, its bridges,
tunnels, or trains will be summarily hanged. I saw the order."
----------------------------------
"How far is it to the Owl Creek bridge?"
----------------------------------
"About thirty miles."
----------------------------------
"Is there no force on this side of the creek?"
----------------------------------
"Only a picket post half a mile out, on the railroad, and a single
sentinel at this end of the bridge."
----------------------------------
"Suppose a man--a civilian and student of hanging--should elude the
picket post and perhaps get the better of the sentinel,"
----------------------------------
"what could he accomplish?"
----------------------------------
"I was there a month ago,"
----------------------------------
"I
observed that the flood of last winter had lodged a great quantity of
driftwood against the wooden pier at this end of the bridge. It is
now dry and would burn like tinder."
----------------------------------

## Task 9:

**Convert part_1 string to lowercase using string function**

In [20]:
#Enter your code here:
print(part_1[0:200])
lower_part_1 = part_1.lower();
print(lower_part_1[0:200])

I

A man stood upon a railroad bridge in northern Alabama, looking down
into the swift water twenty feet below. The man's hands were behind
his back, the wrists bound with a cord. A rope closely encir
i

a man stood upon a railroad bridge in northern alabama, looking down
into the swift water twenty feet below. the man's hands were behind
his back, the wrists bound with a cord. a rope closely encir

## Task 10:

**Remove all the punctuation marks from the words**

Hint: Make use of string.punctuation

In [19]:
#Enter your code here:
import string
punctuations = string.punctuation
punctuations
for charac in lower_part_1 :
    if charac in punctuations :
        lower_part_1 = lower_part_1.replace(charac,"");
print(lower_part_1[0:200])

i

a man stood upon a railroad bridge in northern alabama looking down
into the swift water twenty feet below the mans hands were behind
his back the wrists bound with a cord a rope closely encircled

## Task 11:

**Split the lowercase part_1 string into words, save it to a variable called words_list and then print the number of words or length of the list.**

In [ ]:
#Enter your code here:
words_list = lower_part_1.split()
print(len(words_list))

1058

## Task 12

**Download this Business_Proposal.pdf file from this [link](https://drive.google.com/file/d/1hzwRSz4R8wywq3PNkLJCsn0DGTVKLkgR/view?usp=sharing) and put it in your current working directory.**

**Now read the pdf file. Check the second page it has name of the authors, From this page extract the Name , position and Email Id and put it into a DataFrame contacts shown below**

In [ ]:
!pip install PyPDF2

In [ ]:
import PyPDF2

# Open the file as a binary object
pdf_file = open('Business_Proposal.pdf','rb');

# Use PyPDF2 to read the text of the file
pdf_file_reader = PyPDF2.PdfFileReader(pdf_file);

# Get the text from page 2 
page_2 = pdf_file_reader.getPage(1);
page_2_text = page_2.extractText();

# Close the file
pdf_file.close();

# Print the contents of page_two_text
print(page_2_text)

AUTHORS:

Amy Baker, Finance Chair, x345, abaker@ourcompany.com

Chris Donaldson, Accounting Dir., x621, cdonaldson@ourcompany.com

Erin Freeman, Sr. VP, x879, efreeman@ourcompany.com

In [ ]:
import pandas as pd

#Split the list using '\n \n'
page_2_sentences = page_2_text.split('\n \n')

#Remove first and last element from the list
page_2_sentences.pop() #removes last element
del page_2_sentences[0] #removes first element

# Iterate over the list and split the list using ','
names = []
positions = []
unknown = []
email = []
for author in page_2_sentences :
  author_details = author.split(',');
  names.append(author_details[0])
  positions.append(author_details[1])
  unknown.append(author_details[2])
  email.append(author_details[3])

author_dict = {}
author_dict["Name"] = names
author_dict["Designation"] = positions
author_dict["Unknown"] = unknown
author_dict["Email"] = email

# Pass in the Data into the DataFrame 
df = pd.DataFrame(author_dict)

# print the DataFrame
df

              Name       Designation Unknown                       Email
0        Amy Baker     Finance Chair    x345       abaker@ourcompany.com
1  Chris Donaldson   Accounting Dir.    x621   cdonaldson@ourcompany.com
2     Erin Freeman            Sr. VP    x879     efreeman@ourcompany.com

## Task 13

**Run the below code to import the Amazon reviews Dataset.**

In [ ]:
!pip install wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9681 sha256=94eaf13bb96d5c16f6039816d6e15ca8faf636d62eabab6a9e6757eba6db8420
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
import wget
import pandas as pd
wget.download('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Cell_Phones_and_Accessories_5.json.gz')
df = pd.read_json('reviews_Cell_Phones_and_Accessories_5.json.gz', lines=True, compression='gzip')

**Check for the existence of NaN values in a reviewText columns**

In [ ]:
#Enter your code here
df.isnull().values.any()

True

## Task 14

**Get the word count in each datapoint and create a new column 'word_count' and then print the head of reviewText and Word_Count**

In [ ]:
# Enter your code here
reviewText = df.loc[:, ['reviewText']];
word_count = []
for index, row in reviewText.iterrows() :
   review = row["reviewText"];
   word_count.append(len(review.split()));
df["Word_Count"] = word_count
print(df.loc[:,['reviewText','Word_Count']].head())

                                          reviewText  Word_Count
0  They look good and stick good! I just don't li...          37
1  These stickers work like the review says they ...          32
2  These are awesome and make my phone look so st...          34
3  Item arrived in great time and was in perfect ...          51
4  awesome! stays on, and looks great. can be use...          23

## Task 15

**Lowercase all the texts is reviewText and print the head of reviews**

In [ ]:
#Enter your code here
reviews = df.loc[:, ['reviewText']];
for i in range(len(reviews)):
     lowerReview = reviews.iloc[i,0].lower()
     reviews.iloc[i,0] = lowerReview
df['reviewText'] = reviews['reviewText']
print(df.loc[:,['reviewText']].head())

                                          reviewText
0  they look good and stick good! i just don't li...
1  these stickers work like the review says they ...
2  these are awesome and make my phone look so st...
3  item arrived in great time and was in perfect ...
4  awesome! stays on, and looks great. can be use...

## Task 16

**Remove all the punctuations from the reviewText Column and print the head of reviews**

In [ ]:
#Enter your code here
import re
reviews = df.loc[:, ['reviewText']];
for i in range(len(reviews)):
     review = reviews.iloc[i,0]
     reviews.iloc[i,0] = re.sub(r'[^\d\w\s]', '', review)
df['reviewText'] = reviews['reviewText']
print(df.loc[:,['reviewText']].head())

                                          reviewText
0  they look good and stick good i just dont like...
1  these stickers work like the review says they ...
2  these are awesome and make my phone look so st...
3  item arrived in great time and was in perfect ...
4  awesome stays on and looks great can be used o...

In [ ]:
#Removing Punctuation without Regular Expressions
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
str_with_punc = "Iam a SL Student! I study 'NLP', 'DS', 'ML' etc., on a daily basis";
for i in str_with_punc :
  if i in punc :
    str_with_punc = str_with_punc.replace(i,"");
print(str_with_punc);

Iam a SL Student I study NLP DS ML etc on a daily basis

## Task 17

**Split the text in reviewText list of words and print the head of reviews**

In [ ]:
#Enter your code here
reviews = df.loc[:, ['reviewText']];
for i in range(len(reviews)):
    review = reviews.iloc[i,0]
    reviews.iloc[i,0] = review.split()
df['reviewText'] = reviews['reviewText']
print(df.loc[:,['reviewText']].head())

                                          reviewText
0  [they, look, good, and, stick, good, i, just, ...
1  [these, stickers, work, like, the, review, say...
2  [these, are, awesome, and, make, my, phone, lo...
3  [item, arrived, in, great, time, and, was, in,...
4  [awesome, stays, on, and, looks, great, can, b...

## Task 18

**Remove all the words that contain numbers in reviewText column and print the head of reviews**

In [ ]:
#Enter your code here
import re
reviews = df.loc[:, ['reviewText']];
print(reviews)
for i in range(len(reviews)) :
    review = reviews.iloc[i,0]
    for word in review:
        if not word.isalpha():
            review.remove(word); 
    reviews.iloc[i,0] = review;
df['reviewText'] = reviews['reviewText']
print(df.loc[:,['reviewText']].head())

                                               reviewText
0       [they, look, good, and, stick, good, i, just, ...
1       [these, stickers, work, like, the, review, say...
2       [these, are, awesome, and, make, my, phone, lo...
3       [item, arrived, in, great, time, and, was, in,...
4       [awesome, stays, on, and, looks, great, can, b...
...                                                   ...
194434  [works, great, just, like, my, original, one, ...
194435  [great, product, great, packaging, high, quali...
194436  [this, is, a, great, cable, just, as, good, as...
194437  [i, really, like, it, becasue, it, works, well...
194438  [product, as, described, i, have, wasted, a, l...

[194439 rows x 1 columns]
                                          reviewText
0  [they, look, good, and, stick, good, i, just, ...
1  [these, stickers, work, like, the, review, say...
2  [these, are, awesome, and, make, my, phone, lo...
3  [item, arrived, in, great, time, and, was, in,...
4  [awesome, stays, on, and, looks, great, can, b...

*****

In [ ]:
df['reviewText']= [' '.join(review) for review in df.reviewText]
df['reviewText'].head()

0    they look good and stick good i just dont like...
1    these stickers work like the review says they ...
2    these are awesome and make my phone look so st...
3    item arrived in great time and was in perfect ...
4    awesome stays on and looks great can be used o...
Name: reviewText, dtype: object

## Task 19

**For the following assignments we will use a tweets Data. Elon Musk Tweets-Until 4/6/17**

For all the following tasks use Regular expressions

Click on th [link](https://drive.google.com/file/d/1F-R8PQAp1pjinb9wXBAcfvTELIL7v63g/view?usp=sharing) download the csv and place it in your current working directory.

**Read the elonmusk_tweets.csv and print head of the text column**

In [21]:
#Enter your code here
import pandas as pd
tweets_df = pd.read_csv('elonmusk_tweets.csv');
tweets_df.head()

                   id  ...                                               text
0  849636868052275200  ...  b'And so the robots spared humanity ... https:...
1  848988730585096192  ...  b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2  848943072423497728  ...      b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3  848935705057280001  ...                b'Stormy weather in Shortville ...'
4  848416049573658624  ...  b"@DaveLeeBBC @verge Coal is dying due to nat ...

[5 rows x 3 columns]

## Task 20

`str = '...' literals = a sequence of Unicode characters`<br>
`bytes = b'...' literals = a sequence of octets (integers between 0 and 255)`**

**You can see that every tweets are expressed as bytes literals inside b' '. Convert it to python string i.e. unicode string or Make use of regex to extract the string between `b'` and `'`**

In [ ]:
#Enter your code here
for i in range(len(tweets_df)) :
    byteText = tweets_df.iloc[i,2]
    text =  byteText[2:-1]
    tweets_df.iloc[i,2] = text
tweets_df.head()

                   id  ...                                               text
0  849636868052275200  ...  And so the robots spared humanity ... https://...
1  848988730585096192  ...  @ForIn2020 @waltmossberg @mims @defcon_5 Exact...
2  848943072423497728  ...         @waltmossberg @mims @defcon_5 Et tu, Walt?
3  848935705057280001  ...                   Stormy weather in Shortville ...
4  848416049573658624  ...  @DaveLeeBBC @verge Coal is dying due to nat ga...

[5 rows x 3 columns]

## Task 21

**Extract all the links from the tweets and put it in a lists naming it tweets_links. After Extracting print first five links and total number of links.**

In [ ]:
#Enter your code here
import re
tweet_links = []
for i in range(len(tweets_df)) :
    text = tweets_df.iloc[i,2]
    matches = re.findall(r'http.*',text)
    if matches :
        for match in matches :
            tweet_links.append(match);
print(tweet_links[0:5])
print("Number of links = " + str(len(tweet_links)))

['https://t.co/v7JUJQWfCv', 'https://t.co/qQcTqkzgMl', 'https://t.co\\xe2\\x80\\xa6', 'https://t.co/68nMJkiPsC', 'https://t.co/XtgQGwJ21D']
Number of links = 1105

## Task 22

**Extract all the @mentions from the tweets and put it in a lists naming it tweets_mentions. After Extracting print first five mentions and total number of mentions.**

In [ ]:
#Enter your code here
#Enter your code here
import re
tweet_mentions = []
for i in range(len(tweets_df)) :
    text = tweets_df.iloc[i,2]
    matches = re.findall(r'@\w+',text)
    if matches :
        for match in matches :
            tweet_mentions.append(match);
print(tweet_mentions[0:5])
print("Number of Mentions = " + str(len(tweet_mentions)))

['@ForIn2020', '@waltmossberg', '@mims', '@defcon_5', '@waltmossberg']
Number of Mentions = 2277

## Task 23

**Extract all the #Hashtags from the tweets and put it in a lists naming it tweets_hastags. After Extracting print first five hastags and total number of hastags.**

In [ ]:
#Enter your code here
#Enter your code here
#Enter your code here
import re
tweet_hashtags = []
for i in range(len(tweets_df)) :
    text = tweets_df.iloc[i,2]
    matches = re.findall(r'#[^\s]*',text)
    if matches :
        for match in matches :
            tweet_hashtags.append(match);
print(tweet_hashtags[0:5])
print("Number of Hashtags = " + str(len(tweet_hashtags)))

['#%*&gt;', '#Dragon', '#breakapod', '#IridiumNEXT', '#NEXTevolutio\\xe2\\x80\\xa6']
Number of Hashtags = 155

## Task 24

**Remove all the links , hastags and mentions from the clean_tweets and overwrite it. After done cleaning print the head() of the clean data.**

In [ ]:
#Enter your code here
for i in range(len(tweets_df)) :
    text = tweets_df.iloc[i,2]
    words = text.split()
    for word in words:
        if word in tweet_links :
            words.remove(word)
        if word in tweet_mentions :
            words.remove(word)
        if word in tweet_hashtags :
            words.remove(word)
    text = ' '.join(words)
    tweets_df.iloc[i,2] = text
tweets_df.head()

                   id  ...                                               text
0  849636868052275200  ...              And so the robots spared humanity ...
1  848988730585096192  ...  Exactly. Tesla is absurdly overvalued if based...
2  848943072423497728  ...                                       Et tu, Walt?
3  848935705057280001  ...                   Stormy weather in Shortville ...
4  848416049573658624  ...  Coal is dying due to nat gas fracking. It's ba...

[5 rows x 3 columns]